@mixin triangle (
    $width: 0,
    $height: 0,
    $border-bottom: solid 20px transparent,
    $border-right: solid 35px transparent,
    $border-left: solid 35px transparent,

    $top: 100%,
    $left: 50%,
    $transform: translateX(-50%),

    $border-top: "",
    $content: "",
    $position: absolute,
    $z: 10    
) {
    &::after {
        width: $width;
        height: $height;
        border-bottom: $border-bottom;
        border-right: $border-right;
        border-left: $border-left;

        top: $top;
        left: $left;
        transform: $transform;

        border-top: $border-top;
        content: $content;
        position: $position;
        z-index: $z;
        @content;
    }
}