@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ ゴシック", sans-serif;
}

.font-sm, .header__info, .header__tel, .section__title-sub, .intro__top-title-price, .intro__description, .solution__text, .wecan__item__description, .plan__content, .plan__attentions, .work-time__table-container, .work-time__attentions, .service__list, .service__list-caution, .qa__content p, .counseling__item, .contact__title, .contact__caution, .footer__container {
  font-size: 12px;
}

.font-smx, .intro__top-title-sub, .request__content, .qa__title, .qa__title span, .contact__item .input, .contact__item .checkbox-text, .contact__textarea textarea, .contact__submit .form-button {
  font-size: 14px;
}

.font-rl, .service__title, .qa__title {
  font-size: 16px;
}

.font-rlx {
  font-size: 18px;
}

.font-rlxx, .section__title-main, .intro__top-title-price span {
  font-size: 20px;
}

.font-lg, .plan__price span {
  font-size: 28px;
}

.font-lgx, .intro__top-title {
  font-size: 30px;
}

.pd-title, .section__title-main {
  padding: 30px 0 0;
}

.mg-title-sub, .section__title-sub {
  margin: 10px 0 0;
}

.top-img, .top__img {
  width: 82px;
}

.service-img, .wecan__item img {
  width: 80px;
}

.arrow-pd, .wecan, .plan, .work-time, .request, .service, .qa, .counseling {
  padding: 0 20px 30px;
}

.triangle, .solution::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
}

.position-center, .solution::after, .wecan__item img {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wecan-item-pd, .wecan__item {
  padding-top: 40px;
}

.header {
  background-color: #2654a8;
}

.header__info, .header__tel {
  line-height: 1.5;
  font-weight: bold;
  color: white;
  padding: 8px 10px;
}

.header__info {
  display: none;
}

.header__tel {
  text-align: center;
}

.section__title {
  text-align: center;
}

.intro {
  background-color: #d1f4ff;
  text-align: center;
  padding: 40px 0 0;
}

.intro__container {
  padding: 10px 0 50px 0;
  text-align: center;
}

.intro__top-title-sub {
  font-weight: bold;
  margin-bottom: 0;
}

.intro__top-title-price {
  margin: 8px 0 0;
  font-weight: bold;
}

.intro__top-title-price span {
  color: #2654a8;
}

.intro__top-title {
  color: #2654a8;
  margin: 6px 0 0;
}

.intro__description {
  font-weight: bold;
  margin: 10px 0 0;
  line-height: 1.5;
  margin: 0 20px;
}

.top {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__item-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -30px;
  background-color: #ffffff00;
  z-index: 10;
}

.top__img {
  height: 50px;
}

.solution {
  padding: 40px 0 0 0;
  background-color: #2654a8;
  position: relative;
}

.solution::after {
  content: "";
  border-top: 10px solid #2654a8;
  position: absolute;
  z-index: 10;
}

.solution__block-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}

.solution__block {
  display: block;
}

.solution__block:not(:nth-child(1)) {
  display: none;
}

.solution__block:nth-child(1) {
  width: 100%;
}

.solution__text {
  height: 74px;
  line-height: 1.8;
  font-weight: bold;
}

.solution__text span {
  display: block;
  background-color: white;
  color: #2654a8;
  margin: 2px;
  padding: 2px 4px;
}

.wecan {
  background-color: white;
  position: relative;
}

.wecan::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid white;
  content: "";
  position: absolute;
  z-index: 10;
}

.wecan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wecan__item-wrapper {
  width: 100%;
  border: 3px solid #65e0d4;
  margin: 40px 0 0;
}

.wecan__item {
  border: solid 2px #00834c;
  position: relative;
}

.wecan__item img {
  height: 50px;
  position: absolute;
  top: -20%;
}

.wecan__item__title {
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

.wecan__item__description {
  text-align: left;
  width: 100%;
  margin: 8px 0 10px;
  padding: 0 18px;
}

.plan {
  background-color: #d1f4ff;
  position: relative;
}

.plan::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid #d1f4ff;
  content: "";
  position: absolute;
  z-index: 10;
}

.plan__container {
  margin: 18px auto;
}

.plan__custom {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.plan__name {
  background-color: black;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: white;
  margin-bottom: 0;
}

.plan__content {
  background-color: white;
  margin-bottom: 0;
  border-radius: 0 0 8px 8px;
  padding: 20px;
}

.plan__price span {
  margin: 0 8px;
  color: #2654a8;
}

.plan__agreement {
  margin-bottom: 0;
}

.plan__attentions {
  list-style: inside;
  list-style-type: none;
  line-height: 1.4;
  padding-left: 1em;
  text-indent: -1em;
}

.plan__attentions li {
  margin: 0 0 6px;
}

.work-time {
  position: relative;
  background-color: white;
  padding: 0 20px 30px;
}

.work-time::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid white;
  content: "";
  position: absolute;
  z-index: 10;
}

.work-time__table-container {
  margin: 16px 0 auto;
}

.work-time__scroll {
  overflow: auto;
  margin: 16px 0 auto;
}

.work-time__table {
  border: 2px solid #65e0d4;
  white-space: nowrap;
  width: 100%;
  border-collapse: collapse;
}

.work-time__table th {
  background-color: #f6f6f6;
  padding: 10px;
  border: 1px solid #eee;
}

.work-time__table td {
  padding: 10px;
  border: 1px solid #eee;
  font-weight: normal;
}

.work-time__attentions {
  margin: 8px auto 0;
}

.work-time__attentions p {
  margin-bottom: 5px;
  padding-left: 15px;
  text-indent: -1em;
  line-height: 1.5;
}

.request {
  position: relative;
  background-color: #65e0d4;
  padding: 0 20px 30px;
}

.request::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid #65e0d4;
  content: "";
  position: absolute;
  z-index: 10;
}

.request__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request__box {
  position: relative;
  background-color: white;
  width: 100%;
  display: block;
  margin: 30px 0 0;
}

.request__arrow {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.request__arrow::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 6px transparent;
  border-left: solid 6px transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid white;
  content: "";
  position: absolute;
  z-index: 10;
}

.request__number {
  position: absolute;
  top: -15%;
  left: 5%;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  font-style: italic;
}

.request__content {
  color: #00834c;
  padding: 20px;
  margin-bottom: auto;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.service {
  position: relative;
  background-color: white;
  padding: 0 20px 30px;
}

.service::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid white;
  content: "";
  position: absolute;
  z-index: 10;
}

.service__container {
  margin-top: 15px;
}

.service__content:not(:last-of-type) {
  margin-bottom: 30px;
}

.service__title {
  color: #00834c;
}

.service__list {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.5;
  list-style: inside;
  list-style-type: none;
}

.service__list li {
  vertical-align: middle;
}

.service__list-caution {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.5;
  list-style: inside;
  list-style-type: none;
  margin-left: 5px;
}

.qa {
  position: relative;
  background-color: #2654a8;
  padding: 0 20px 30px;
}

.qa::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid #2654a8;
  content: "";
  position: absolute;
  z-index: 10;
}

.qa .section__title {
  color: white;
}

.qa__container {
  margin-top: 15px;
}

.qa__item {
  background-color: white;
  padding: 0 0 8px;
}

.qa__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.qa__question {
  position: relative;
}

.qa__question::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px transparent;
  top: 45%;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 9px solid #2654a8;
  content: "";
  position: absolute;
  z-index: 10;
}

.qa__question.toggled::after {
  display: none;
}

.qa__question:hover {
  cursor: pointer;
}

.qa__title {
  padding: 10px 34px;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  text-indent: -1em;
  margin-bottom: 0;
}

.qa__title span {
  color: #2654a8;
}

.qa__content {
  display: none;
}

.qa__content p {
  margin: 0 20px;
  display: inline-block;
}

.qa__toggled-1 {
  display: block;
  position: relative;
}

.qa__toggled-1::after {
  width: 0;
  height: 0;
  border-bottom: 9px solid #2654a8;
  border-right: solid 4px transparent;
  border-left: solid 4px transparent;
  top: -160%;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: "";
  content: "";
  position: absolute;
  z-index: 10;
}

.qa__toggled-2 {
  display: block;
  position: relative;
}

.qa__toggled-2::after {
  width: 0;
  height: 0;
  border-bottom: 9px solid #2654a8;
  border-right: solid 4px transparent;
  border-left: solid 4px transparent;
  top: -124%;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: "";
  content: "";
  position: absolute;
  z-index: 10;
}

.qa__toggled-3 {
  display: block;
  position: relative;
}

.qa__toggled-3::after {
  width: 0;
  height: 0;
  border-bottom: 9px solid #2654a8;
  border-right: solid 4px transparent;
  border-left: solid 4px transparent;
  top: -50%;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: "";
  content: "";
  position: absolute;
  z-index: 10;
}

.qa__toggled-4 {
  display: block;
  position: relative;
}

.qa__toggled-4::after {
  width: 0;
  height: 0;
  border-bottom: 9px solid #2654a8;
  border-right: solid 4px transparent;
  border-left: solid 4px transparent;
  top: -60%;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: "";
  content: "";
  position: absolute;
  z-index: 10;
}

.counseling {
  position: relative;
  background-color: #65e0d4;
  padding: 0 20px 30px;
}

.counseling::after {
  width: 0;
  height: 0;
  border-bottom: solid 20px transparent;
  border-right: solid 35px transparent;
  border-left: solid 35px transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid #65e0d4;
  content: "";
  position: absolute;
  z-index: 10;
}

.counseling .section__title {
  color: black;
}

.counseling__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
}

.counseling__item {
  background-color: white;
  padding: 6px;
  font-weight: bold;
  line-height: 1.4;
  width: 100%;
  text-align: center;
}

.counseling__item:not(:last-of-type) {
  margin-bottom: 4px;
}

.contact {
  background-color: white;
  padding: 20px 20px 60px;
}

.contact__container {
  margin-top: 30px;
}

.contact__item {
  margin-bottom: 20px;
}

.contact__item .input {
  width: 100%;
  height: 40px;
  padding: 12px 8px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.contact__title {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact__must {
  color: red;
  margin-left: 0.5em;
}

.contact__caution {
  margin-top: 8px;
}

.contact__textarea {
  margin-top: 40px;
}

.contact__textarea textarea {
  padding: 12px 8px;
  width: 100%;
  height: 200px;
  margin: 16px 0 0;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  resize: none;
}

.contact__submit {
  text-align: center;
}

.contact__submit .form-button {
  background-color: #2654a8;
  color: white;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 180px;
  height: 40px;
}

.footer {
  background-color: #65e0d4;
  color: white;
  padding: 40px 20px 40px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5;
}

.footer__corporate-name {
  font-weight: bold;
}

.footer__bio {
  font-weight: bold;
}

.footer__bio p:nth-child(1) {
  margin-bottom: 5px;
}

.footer__info p {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .intro__description {
    margin: 0 200px;
  }
  .solution__block-container {
    max-width: 350px;
  }
  .qa__content p {
    margin: 0 70px;
  }
  .qa__toggled-1::after {
    width: 0;
    height: 0;
    border-bottom: 9px solid #2654a8;
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    top: -120%;
    left: 95%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: "";
    content: "";
    position: absolute;
    z-index: 10;
  }
  .qa__toggled-3::after {
    width: 0;
    height: 0;
    border-bottom: 9px solid #2654a8;
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    top: -70%;
    left: 95%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: "";
    content: "";
    position: absolute;
    z-index: 10;
  }
  .qa__toggled-4::after {
    width: 0;
    height: 0;
    border-bottom: 9px solid #2654a8;
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    top: -100%;
    left: 95%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: "";
    content: "";
    position: absolute;
    z-index: 10;
  }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__title {
    width: 30%;
  }
  .contact__checkbox {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .font-psm, .contact__must {
    font-size: 12px;
  }
  .font-psmx, .solution__text, .plan__content {
    font-size: 13px;
  }
  .font-psmxx, .section__title-sub, .intro__top-title-price, .intro__description, .work-time__table, .qa__content p, .counseling__item, .contact__title, .footer__container {
    font-size: 14px;
  }
  .font-prl, .request__content, .qa__title span, .contact__submit .form-button {
    font-size: 16px;
  }
  .font-prlx, .intro__top-title-sub, .plan__name, .service__title {
    font-size: 20px;
  }
  .font-plg, .section__title-main {
    font-size: 40px;
  }
  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .header__info {
    text-align: center;
    display: block;
    width: 50%;
    margin-bottom: 0;
  }
  .header__tel {
    margin-left: 350px;
    display: block;
    width: 50%;
  }
  .intro {
    padding-bottom: 150px;
  }
  .intro__price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 520px;
    margin: 0 auto;
  }
  .intro__top-title-price {
    margin-top: 0;
    margin-left: 20px;
  }
  .intro__top-title {
    font-size: 65px;
  }
  .top__item-container {
    width: 950px;
    top: -195px;
  }
  .top__item .top__img {
    width: 280px;
    height: 100%;
  }
  .solution__block-container {
    max-width: 1000px;
  }
  .solution__block {
    width: 33%;
  }
  .solution__block:nth-child(1) {
    width: 33%;
  }
  .solution__block:not(:nth-child(1)) {
    display: block;
  }
  .wecan {
    padding-bottom: 60px;
  }
  .wecan__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  .wecan__item-wrapper {
    width: 300px;
  }
  .wecan__item {
    height: 100%;
  }
  .plan {
    padding-bottom: 60px;
  }
  .plan__container {
    max-width: 600px;
  }
  .plan__content span {
    font-size: 34px;
  }
  .plan__attentions {
    margin: 0 auto;
    max-width: 600px;
  }
  .work-time {
    padding-bottom: 60px;
  }
  .work-time__table-container {
    max-width: 800px;
    margin: 36px auto 0;
  }
  .work-time__attentions {
    max-width: 800px;
  }
  .request {
    padding-bottom: 60px;
  }
  .request__container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .request__box {
    max-width: 300px;
  }
  .request__arrow {
    width: 0;
  }
  .request__arrow::after {
    width: 0;
    height: 0;
    border-bottom: solid 6px transparent;
    border-right: solid 35px transparent;
    border-left: 9px solid white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: solid 6px transparent;
    content: "";
    position: absolute;
    z-index: 10;
    margin-left: 20px;
  }
  .request__3 {
    margin-left: -20px;
  }
  .request__3::after {
    display: none;
    width: 0;
  }
  .request__number {
    font-size: 28px;
  }
  .request__content {
    width: 250px;
    margin: 0 auto;
  }
  .service {
    padding-bottom: 60px;
  }
  .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    margin: 36px auto 0;
  }
  .service__about {
    width: 272px;
    margin: 0 58px 0 0;
  }
  .service__env {
    width: auto;
    margin: 0 58px 0 0;
  }
  .service__request {
    width: auto;
    width: 272px;
  }
  .service__list {
    margin: 8px auto 0;
  }
  .service__list-caution {
    max-width: 800px;
    margin: 0 auto;
  }
  .qa {
    padding-bottom: 60px;
  }
  .qa__container {
    max-width: 800px;
    margin: 36px auto 0;
  }
  .counseling {
    padding-bottom: 60px;
  }
  .counseling__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 870px;
  }
  .counseling__item {
    width: auto;
    padding: 6px 10px;
  }
  .counseling__item:not(:last-of-type) {
    margin-bottom: 0;
  }
  .counseling .section__title-sub {
    text-align: center;
  }
  .contact__container {
    max-width: 700px;
    margin: 46px auto 0;
  }
  .contact .section__title-sub {
    max-width: 750px;
    margin: 0 auto;
  }
  .contact__title {
    margin-bottom: 0;
    width: 245px;
  }
  .contact #textarea {
    margin-top: 0;
  }
  .contact__submit {
    margin-top: 40px;
  }
  .contact__submit .form-button {
    width: 240px;
    height: 60px;
  }
  .footer {
    padding: 24px 20px 40px;
  }
  .footer__container {
    max-width: 1000px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
  .footer__corporate-name {
    margin-right: 20px;
    width: 300px;
  }
  .footer__info {
    margin-top: 30px;
  }
  .footer__info .copyright {
    line-height: 1.5;
  }
  .footer__info-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__info-flex p {
    margin-right: 16px;
  }
}
/*# sourceMappingURL=style.css.map */